<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- Localization context voor o.a. de <fmt:message> JSTL tag -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ViewerResources</param-value>
    </context-param>
    <!-- NL locale voor formatten van getallen: 1.234.567,89 -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>nl</param-value>
    </context-param>

    <filter>
        <filter-name>Security Filter</filter-name>
        <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/securityfilter-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>aconfig</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.HibernateUtil</servlet-class>
        <init-param>
            <param-name>kburl</param-name>
            <param-value>http://portal.prvlimburg.nl/kaartenbalie/services/?_VIEWER_CONFIG=true&amp;</param-value>
        </init-param>
        <init-param>
            <param-name>internalKbUrl</param-name>
            <param-value>http://portal.prvlimburg.nl/kaartenbalie/services/?_VIEWER_CONFIG=true&amp;</param-value>
        </init-param>
        <init-param>
            <param-name>anonymous_user</param-name>
            <param-value>anoniem</param-value>
        </init-param>
        <init-param>
            <param-name>cacheOnDisk</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>cacheOnDiskPath</param-name>
            <param-value>/opt/data/kaartenbalie-prd/cache/</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>xmlsecuritydatabase</servlet-name>
        <servlet-class>nl.b3p.commons.security.XmlSecurityDatabase</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/users.xml</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>    
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            480
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/loginError.do</location>
    </error-page>
</web-app>
