.sf-menu li li a {
    color: #A0D9FF;
    font-size: 1em;
}
.sf-menu li {
    width: 1px;
}

#content {
    height: 1px;
    overflow: hidden;
}

#flashcontent {
    right: auto;
    bottom: auto;
}

#dataframediv {
    right: auto;
}

#tab_container .tabvak_with_iframe {
    top: 0px;
}

#popupWindow_Content {
    position: absolute;
    top: 21px;
    width: 100%;
    z-index: 110;
}

/* IE 6 ondersteund geen PNG */
#panelControls .left_closed, #panelControls .right_open {
    background-image: url(/gisviewerconfig/images/icons/panel_leftright.gif);
}

#panelControls .right_closed, #panelControls .left_open {
    background-image: url(/gisviewerconfig/images/icons/panel_leftright.gif);
}

#panelControls .bottom_closed {
    background-image: url(/gisviewerconfig/images/icons/panel_updown.gif);
}

#panelControls .bottom_open {
    background-image: url(/gisviewerconfig/images/icons/panel_updown.gif);
}