html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
}

div, span, a, td, th {
    text-align: left;
}

#wrapper {
    height: auto;
    min-height: 100%;
    width: 100%;
    min-width: 960px;
}

#header {
    height: 50px;
    width: 100%;
}

#header_content {
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#topmenu {
    float: right;
    margin-top: 23px;
}

#content_normal {
    min-height: 500px;
    width: 100%;
    display: block;
    padding-bottom: 50px;
}

#content {
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#footer {
    clear: both;
    margin-top: -50px;
    height: 50px;
    width: 100%;
}

#footer_content {
    width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#footer_tekst_links {
    float: left;
}

#footer_tekst_rechts {
    float: right;
    margin-right: 125px;
}

#acknowledge {
    border: 1px solid #357EBF;
    width: 550px;
    padding: 12px;
    padding-left: 30px;
    margin: 10px;
    margin-left: 5px;
    background-color: #E0E1FF;
    background-image: url(/gisviewerconfig/images/icons/information.png);
    background-repeat: no-repeat;
    background-position: 10px 11px;
}

#error {
    border: 1px solid red;
    width: 550px;
    padding: 12px;
    margin: 10px;
    background: #fff5f5 url(/gisviewerconfig/images/icons/error.gif) no-repeat;
}

.infobalk {
    height: 20px;
    padding-top: 3px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 940px;
    margin-left: 5px;
    padding-left: 10px;
}

.infobalk .infobalk_description {
    text-align: left;
    width: 150px;
    float: left;
}

.infobalk .infobalk_actions {
    text-align: right;
    width: 780px;
    float: left;
    margin-top: 1px;
}

#loadingDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-top: 10px;
    width: 350px;
    height: 50px;
    margin-left: -10px;
    margin-top: -25px;
    z-index: 110;
    display: none;
}

.admindataSmallCell {
    display: block;
    padding-left: 1px;
    padding-right: 20px;
    float: left;
}

#treediv{
    overflow: auto;
}