<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <!-- Localization context voor o.a. de <fmt:message> JSTL tag -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ViewerResources</param-value>
    </context-param>
    <!-- NL locale voor formatten van getallen: 1.234.567,89 -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>nl</param-value>
    </context-param>

    <filter>
        <filter-name>Security Filter</filter-name>
        <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/securityfilter-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>aconfig</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.HibernateUtil</servlet-class>
        <init-param>
            <param-name>kburl</param-name>
            <param-value>http://acceptatie.prvlimburg.nl/kaartenbalie/services/?_VIEWER_CONFIG=true&amp;</param-value>
        </init-param>
        <init-param>
            <param-name>anonymous_user</param-name>
            <param-value>anoniem</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>xmlsecuritydatabase</servlet-name>
        <servlet-class>nl.b3p.commons.security.XmlSecurityDatabase</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/users.xml</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Data2CSV</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.Data2CSV</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMapPDF</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.CreateMapPDF</servlet-class>
        <init-param>
            <param-name>addFooter</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>logoPath</param-name>
            <param-value>/images/barneveld/bg_top_bv.gif</param-value>
        </init-param>
        <init-param>
            <param-name>extraImagePath</param-name>
            <param-value>/images/barneveld/noordpijl.png</param-value>
        </init-param>
        <init-param>
            <param-name>disclaimer</param-name>
            <param-value>- Aan deze afdruk kunnen geen rechten worden ontleend -</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>fetches document in background to hide actual location of document</description>
        <servlet-name>DocFetcher</servlet-name>
        <servlet-class>nl.b3p.gis.utils.DocFetcherServlet</servlet-class>
        <init-param>
            <param-name>locationPrefix</param-name>
            <param-value>http://b3p-demoserver/gisviewer</param-value>
        </init-param>
        <init-param>
            <param-name>directoryKeepDepth</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>fetchMethod</param-name>
            <param-value>HTTP</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>adds credentials and redirects to cyclomedia</description>
        <servlet-name>CycloramaFetcher</servlet-name>
        <servlet-class>nl.b3p.gis.utils.CycloramaFetcherServlet</servlet-class>
        <init-param>
            <param-name>accountId</param-name>
            <param-value>1</param-value>
        </init-param>
        <init-param>
            <param-name>cyclomediaUrl</param-name>
            <param-value>http://live.cyclomedia.nl/cycloscopeliteview/cycloviewui.asp?</param-value>
        </init-param>
        <init-param>
            <param-name>privateBase64Key</param-name>
            <param-value>key</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CreateSLD</servlet-name>
        <servlet-class>nl.b3p.gis.viewer.services.SldServlet</servlet-class>
        <init-param>
            <param-name>defaultSld</param-name>
            <param-value>/WEB-INF/defaultSld.xml</param-value>
        </init-param>
     </servlet>    
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Data2CSV</servlet-name>
        <url-pattern>/services/Data2CSV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMapPDF</servlet-name>
        <url-pattern>/services/CreateMapPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocFetcher</servlet-name>
        <url-pattern>/docfetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CycloramaFetcher</servlet-name>
        <url-pattern>/cycloramafetcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSLD</servlet-name>
        <url-pattern>/CreateSLD</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            480
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/loginError.do</location>
    </error-page>
</web-app>