@import "fonts";

#content {
    @include border-radius(8px);
    @include box-shadow(0 0 4px 2px #e5e5e5);
    width: 960px;
    border-bottom: 0px none;
    .lt-ie9 & {
        border: 1px solid #e5e5e5;
    }
}

#footer {
    #footer_content {
        border-top: 1px solid #c5c5c5;
    }
    .footer_tekst {
        color: #858585;
    }
    #footer_tekst_rechts {
        text-align: right;
        margin-right: 0px;
    }
}

#viewerinfobalk {
    display: none;
}

#mapcontent {
    top: 3px;
}

#tabjes, #leftcontenttabjes {
    top: 3px;
    right: 23px;
}

#tab_container, #leftcontent {
    top: 23px;
    right: 23px;
}

#leftcontenttabjes {
    right: auto;
    left: 23px;
}

#leftcontent {
    right: auto;
    left: 23px;
}

#rightControl,
#leftControl,
#content_viewer #informatiebalk {
    background-color: #f8811e;
}

#content_viewer #informatiebalk {
    bottom: 1px;
    text-align: right;
    div {
        color: White;
        margin-left: 5px;
        margin-right: 5px;
    }
    .infobalk_description, .infobalk_actions {
        display: none;
    }
}

#panelControls {
    #leftControl {
        left: 0px;
        top: 3px;
        bottom: 3px;
        height: auto;
        a {
            cursor: pointer;
        }
    }

    #rightControl {
        right: 0px;
        top: 3px;
        bottom: 3px;
        height: auto;
        a {
            cursor: pointer;
        }
    }

    #onderbalkControl {
        left: 6px;
        bottom: 2px;
        z-index: 200;
        cursor: pointer;
    }
}

#topmenu {
    margin-right: -25px;
}

.viewerbodyelement {
    #header_content {
        background-position: 10px 18px;
    }
    #topmenu {
        margin-right: 10px;
    }
}

.menulink, .activemenulink, a.menulink:hover, a.activemenulink:hover {
    @include border-bottom-radius(6px);
    margin-left: 0px;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 14px;
    text-decoration: none;
    border-right: 1px solid $basefont-color;
}

a.activemenulink {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

h1 {
    font-family: 'aniversregular';
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    img {
        margin-right: 10px;
        vertical-align: middle;
    }
}

input::-moz-focus-inner {
    border: 0px;
    padding: 0px;
}
input, label, a.again {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 12px;
}